  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=VT323&display=swap');

  /* icons from https://www.nerdfonts.com/cheat-sheet */
  @import "https://www.nerdfonts.com/assets/css/webfont.css";

  /* reset css */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  ol,
  ul {
    list-style: none;
  }

  /* -------------------------- */

  html,
  body {
    height: 100vh;
    line-height: 1;
  }


  :root {
    font-family: 'Roboto', sans-serif;
    --foreground: #b3b1ad;
    --base: #0a0e14;
    --gradient-bg: linear-gradient(to right bottom, #0a0e14, #0b0f15, #0b0f16, #0c1016, #0d1017);
    --crust: #0D1017;
    --red-color: #F26D78;
    --purple-color: #6C5980;
    --pink-color: #D2A6FF;
  }

  [data-theme="macchiato"] {
    --base: #24273A;
    --foreground: #CAD3F5;
    --red-color: #ed8796;
    --purple-color: #c6a0f6;
    --pink-color: #f5bde6;
    --crust: #181926;
    --gradient-bg: linear-gradient(to bottom, #24273a, #212335, #1e2030, #1b1c2b, #181926);
  }