  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=VT323&display=swap');

  /* icons from https://www.nerdfonts.com/cheat-sheet */
  @import "https://www.nerdfonts.com/assets/css/webfont.css";

  /* reset css */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  ol,
  ul {
    list-style: none;
  }
 

  /* -------------------------- */

  :root {
    font-family: 'Roboto', sans-serif;
    --radius: 1em;
    --fg: #b3b1ad;
    --base: #0a0e14;
    --crust: #0D1017;
    --red-color: #F26D78;
    --purple-color: #6C5980;
    --pink-color: #D2A6FF;
    --gradient-bg: linear-gradient(to right bottom, #0a0e14, #0b0f15, #0b0f16, #0c1016, #0d1017);
  }

  [data-theme="macchiato"] {
    --radius: 1em;
    --base: #24273A;
    --fg: #CAD3F5;
    --red-color: #ed8796;
    --purple-color: #c6a0f6;
    --pink-color: #f5bde6;
    --crust: #181926;
    --gradient-bg: linear-gradient(to bottom, #24273a, #212335, #1e2030, #1b1c2b, #181926);
  }

  html,
  body {
    height: 100vh;
    line-height: 1;
    color:var(--fg);
    background-color: var(--base);
  }

  a{
    color:var(--fg);
    text-decoration: none;
  }
  button:hover{
    cursor: pointer;
  }


  /* modal styles */
  .modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
    background-image: var(--gradient-bg);
    background-size: cover;
    background-position: center;
    gap: 1em;
    border-radius: var(--radius);
  }
  .modal__form input {
    color: var(--fg-color);
    padding-left: 0.8em;
    height: 3rem;
    width: 50%;
    background-color: var(--base);
    border: 2px solid var(--fg);
    border-radius: var(--radius);
  }

  .modal__form input:focus {
    outline: none;
    border: 2px solid var(--pink-color);
  }
  .modal__button__wrapper {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    width: 50%;
    height: 10%;
  }
  .modal__button__wrapper button {
    width: 50%;
    border-radius: var(--radius);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .modal__button__wrapper button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .modal__button__wrapper button[type="submit"] {
    background: linear-gradient(var(--pink-color), var(--purple-color));
    font-weight: 700;
  }

  .modal__button__wrapper button[type="button"] {
    background-color: var(--red-color);
    font-weight: 700;
  }

  /* error style */
  .error__wrapper {
    width: 50%;
  }
  .error__wrapper span {
    color: var(--red-color);
  }

  /* h1 style */
  .title {
    color: var(--pink-color);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    padding: 0.1em;
  }
  .icon__description{
    width: 50%;
    font-size: 0.925em;
  }
  .icon__description a{
    color:var(--purple-color);
  }
  @media (max-width: 1250px) {
    .modal__form {
      width: 75%;
    }
  }